<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<salesforce>
	        <configurations>
				<configuration type="Sitecore.Salesforce.Configuration.SalesforceConfiguration, Sitecore.Salesforce">
					<api>
						<rolesApi patch:instead="*[@type='Sitecore.Salesforce.Api.RolesApi, Sitecore.Salesforce']" type="Sitecore.Salesforce.CampaignExtension.Api.RolesApi, Sitecore.Salesforce.CampaignExtension">
						  <param desc="client" ref="salesforce/configurations/*[@provider='$(provider)'][1]/client"/>
						  <param desc="fieldMapping" ref="salesforce/configurations/*[@provider='$(provider)'][1]/fieldMapping"/>
						  <roleObjectName>Campaign</roleObjectName>
						  <roleAssociationObjectName>CampaignMember</roleAssociationObjectName>
						  <contactObjectName>Contact</contactObjectName>
						  <roleFieldName>Name</roleFieldName>
						</rolesApi>
					</api>
				</configuration>
			</configurations>
		</salesforce>
	</sitecore>
</configuration>