<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
    </commands>

    <pipelines>     
      <submitContact>
        <processor type="Sitecore.Salesforce.Pipelines.SubmitContact.WriteSalesforceData, Sitecore.Salesforce">
          <salesforceFacet>Salesforce Data</salesforceFacet>
          <domains hint="list">
            <domain>salesforce</domain>
          </domains>
        </processor>
      </submitContact>
    </pipelines>

    <model>
      <elements>
        <element name="salesforce" interface="Sitecore.Salesforce.Data.Analytics.ISalesforceDataFacet, Sitecore.Salesforce" implementation="Sitecore.Salesforce.Data.Analytics.SalesforceDataFacet, Sitecore.Salesforce"/>
      </elements>
      
      <entities>
        <contact>
          <facets>
            <facet name="Salesforce Data" contract="Sitecore.Salesforce.Data.Analytics.ISalesforceDataFacet, Sitecore.Salesforce" />
          </facets>
        </contact>
      </entities>
    </model>

    <salesforce>
      <salesforceManager defaultProvider="default">
        <providers>
          <clear/>
          <add name="default" type="Sitecore.Salesforce.SalesforceProvider, Sitecore.Salesforce"/>
        </providers>
      </salesforceManager>
      
      <clients>
        <!--
        <client provider="salesforce" type="Sitecore.Salesforce.Client.SalesforceClient, Sitecore.Salesforce.Client" singleInstance="true">
          <param desc="authenticator" type="Sitecore.Salesforce.Client.Security.PasswordAuthenticator, Sitecore.Salesforce.Client">
            <consumerKey></consumerKey>
            <consumerSecret></consumerSecret>
            <userName></userName>
            <password></password>
            <securityToken></securityToken>
          </param>
          <rateLimitWaiting>120</rateLimitWaiting>
        </client>
        -->
      </clients>

      <configurations>
        <configuration default="true" provider="default" type="Sitecore.Salesforce.Configuration.SalesforceConfiguration, Sitecore.Salesforce">
          <param desc="name">$(provider)</param>
          
          <client ref="salesforce/clients/*[@provider='$(provider)'][1]"/>
          
          <fieldMapping type="Sitecore.Salesforce.Configuration.SalesforceFieldMapping, Sitecore.Salesforce">
            <id>Id</id>
            <login>Email</login>
            <email>Email</email>
            <description>Description</description>
            <password>SC_Password__c</password>
            <passwordAnswer>SC_PasswordAnswer__c</passwordAnswer>
            <passwordQuestion>SC_PasswordQuestion__c</passwordQuestion>
            <isApproved>SC_IsApproved__c</isApproved>
            <isLockedOut></isLockedOut>
            <createdDate>CreatedDate</createdDate>
            <lastLoginDate>SC_LastLogin__c</lastLoginDate>
            <lastActivityDate>SC_LastActivity__c</lastActivityDate>
            <lastPasswordChangedDate>SC_LastPasswordChanged__c</lastPasswordChangedDate>
          </fieldMapping>

          <api type="Sitecore.Salesforce.Configuration.SalesforceApiConfiguration, Sitecore.Salesforce">
            <contactsApi type="Sitecore.Salesforce.Api.ContactsApi, Sitecore.Salesforce">
              <param desc="client" ref="salesforce/configurations/*[@provider='$(provider)'][1]/client"/>
              <param desc="fieldMapping" ref="salesforce/configurations/*[@provider='$(provider)'][1]/fieldMapping"/>
              <param desc="profileConfiguration" ref="salesforce/configurations/*[@provider='$(provider)'][1]/profile/properties"/>
              <contactObjectName>Contact</contactObjectName>
            </contactsApi>

            <rolesApi type="Sitecore.Salesforce.Api.RolesApi, Sitecore.Salesforce">
              <param desc="client" ref="salesforce/configurations/*[@provider='$(provider)'][1]/client"/>
              <param desc="fieldMapping" ref="salesforce/configurations/*[@provider='$(provider)'][1]/fieldMapping"/>
              <roleObjectName>SitecoreRole</roleObjectName>
              <roleAssociationObjectName>SitecoreRoleAssociation</roleAssociationObjectName>
              <relatedContactFieldName>Contact</relatedContactFieldName>
              <relatedSitecoreRoleFieldName>SitecoreRole</relatedSitecoreRoleFieldName>
            </rolesApi>
          </api>

          <profile type="Sitecore.Salesforce.Configuration.SalesforceProfileConfiguration, Sitecore.Salesforce">
            <properties type="Sitecore.Salesforce.Configuration.SalesforceProfilePropertiesConfiguration, Sitecore.Salesforce">
              <param desc="providerName">$(provider)</param>
            </properties>
            
            <inboundConverter type="Sitecore.Integration.Common.Convert.ConvertProvider, Sitecore.Integration.Common">
              <param desc="factory" type="Sitecore.Integration.Common.Convert.ConverterFactory, Sitecore.Integration.Common">
                <converters hint="list:RegisterConverter">
                  <add type="Sitecore.Salesforce.Convert.SalesforceDateTimeConverter, Sitecore.Salesforce"/>
                </converters>
              </param>
            </inboundConverter>
            <outboundConverter type="Sitecore.Integration.Common.Convert.ConvertProvider, Sitecore.Integration.Common">
              <param desc="factory" type="Sitecore.Integration.Common.Convert.ConverterFactory, Sitecore.Integration.Common">
                <converters hint="list:RegisterConverter">
                  <add type="Sitecore.Salesforce.Convert.SalesforceDateTimeConverter, Sitecore.Salesforce"/>
                </converters>
              </param>
            </outboundConverter>
          </profile>

          <cache type="Sitecore.Salesforce.Configuration.SalesforceCacheConfiguration, Sitecore.Salesforce">
            <users type="Sitecore.Salesforce.Caching.UserCache, Sitecore.Salesforce">
              <param desc="name">Salesforce_Users_$(provider)</param>
              <param desc="size">2MB</param>
              <param desc="slidingExpiration">00:02:00</param>
            </users>
            <roles type="Sitecore.Salesforce.Caching.RoleCache, Sitecore.Salesforce">
              <param desc="name">Salesforce_Roles_$(provider)</param>
              <param desc="size">2MB</param>
              <param desc="slidingExpiration">00:02:00</param>
            </roles>
            <members type="Sitecore.Salesforce.Caching.MembersCache, Sitecore.Salesforce">
              <param desc="name">Salesforce_Members_$(provider)</param>
              <param desc="size">2MB</param>
              <param desc="slidingExpiration">00:02:00</param>
            </members>
            <memberOf type="Sitecore.Salesforce.Caching.MemberOfCache, Sitecore.Salesforce">
              <param desc="name">Salesforce_MemberOf_$(provider)</param>
              <param desc="size">2MB</param>
              <param desc="slidingExpiration">00:02:00</param>
            </memberOf>
          </cache>
        </configuration>
      </configurations>
    </salesforce>

    <settings>
      <setting name="Salesforce.Disabled" value="false" />
    </settings>

    <scheduling>
      <agent type="Sitecore.Salesforce.Tasks.LimitsAgent" method="Run" interval="24:00:00">
        <logStatistic>true</logStatistic>
      </agent> 
    
      <agent type="Sitecore.Salesforce.Tasks.LimitsAgent" method="Run" interval="01:00:00">
        <logStatistic>false</logStatistic>
        <apiUsageThreshold>90</apiUsageThreshold>
        <dataStorageThreshold>90</dataStorageThreshold>
      </agent> 
    </scheduling>
  </sitecore>
</configuration>